{% extends '@whatwedoCron/base.html.twig' %}

{% block main %}
    <div class="whatwedo_table:wrapper bg-white" {{ stimulus_controller('whatwedo/table-bundle/filter') }}>
        <header class="whatwedo_table:header border-b border-neutral-200 px-4 py-4 sm:flex sm:items-center sm:justify-between">
            <div class="whatwedo_table:header__title flex-1 min-w-0 text-lg font-medium leading-6 text-neutral-900 sm:truncate">
                    <h1>
                        {{ 'whatwedo_cronjob.cronJobs'|trans }}
                    </h1>
            </div>
        </header>

        <div {{ stimulus_controller('@whatwedo/table-bundle/table_select') }}>
            <turbo-frame id="whatwedo_table_wwd_cron_jobs" data-turbo="true" target="_top">
                <div class="whatwedo_table:table__wrapper align-middle inline-block min-w-full border-b border-neutral-200">
                    <table
                            class="min-w-full" {{ stimulus_target('whatwedo/table-bundle/table', 'table') }}>

                        <thead class="whatwedo_table:table__head">
                        <tr class="border-b border-neutral-200 bg-neutral-50 text-xs font-medium text-neutral-500 text-left uppercase tracking-wider">
                            <th class="px-3 py-3 align-top">{{ 'whatwedo_cronjob.name'|trans }}</th>
                            <th class="px-3 py-3 align-top">{{ 'whatwedo_cronjob.isActive'|trans  }}</th>
                            <th class="px-3 py-3 align-top">{{ 'whatwedo_cronjob.description'|trans  }}</th>
                            <th class="px-3 py-3 align-top">{{ 'whatwedo_cronjob.lastExecution'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody
                                class="whatwedo_table:table__body bg-white text-sm text-neutral-500 font-medium divide-y divide-neutral-100">
                        {% if list is empty %}
                            <tr class="whatwedo_table:table__row hover:bg-neutral-50 transition duration-500 color">
                                <td class="px-3 py-2 font-normal">
                                    {{ 'Keine Elemente verfügbar' }}
                                </td>
                            </tr>
                        {% endif %}
                        {% for item in list %}
                            <tr class="whatwedo_table:table__row hover:bg-neutral-50 transition duration-500 color align-top">

                                <td class="px-3 py-2 whitespace-nowrap text-neutral-900">
                                    <a href="{{ path('whatwedo_cronjob_show', { 'class': wwd_cron_classFqcn(item.cronjob) }) }}">
                                        {{ item.cronjob.command }}
                                    </a>
                                </td>
                                <td class="px-3 py-2">
                                    {% if item.cronjob.isActive %}
                                        {{ 'whatwedo_cronjob.yes'|trans }}
                                    {% else %}
                                        {{ 'whatwedo_cronjob.no'|trans }}
                                    {% endif %}
                                </td>
                                <td class="px-3 py-2">{{ item.cronjob.description }}</td>
                                <td class="px-3 py-2">{% if item.lastExecution %}{{ item.lastExecution.finishedAt|date('d.m.Y H:i') }}{% endif %}</td>
                                <td class="whatwedo_table:table__actions pr-6 align-top">
                                    <div
                                            class="relative flex justify-end items-center" {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}>
                                        <button
                                                class="whatwedo_table-actions"
                                                {{ stimulus_action({'whatwedo/core-bundle/dropdown': ['toggle', {'click@window': 'hide'}]}) }}
                                                type="button"
                                        >
                                            <span class="sr-only">{{ 'whatwedo_cronjob.options'|trans }}</span>
                                            {{ bootstrap_icon('three-dots-vertical', { class: 'h-4 w-4' }) }}
                                        </button>
                                        <div
                                                {{ stimulus_target('whatwedo/core-bundle/dropdown', 'menu') }}
                                                class="z-50 hidden transition duration-300 origin-top-right mx-3 origin-top-right absolute right-7 top-0 w-48 -mt-1 rounded-md shadow-lg z-10 bg-white ring-1 ring-black ring-opacity-5 divide-y divide-neutral-200 focus:outline-none"
                                                data-transition-enter-from="opacity-0 scale-95"
                                                data-transition-enter-to="opacity-100 scale-100"
                                                data-transition-leave-from="opacity-100 scale-100"
                                                data-transition-leave-to="opacity-0 scale-95"
                                                tabindex="-1"
                                        >
                                            <div class="py-1" role="none">

                                            <span class="block hover:bg-neutral-50">
                                                <a href="{{ path('whatwedo_cronjob_show', { 'class': wwd_cron_classFqcn(item.cronjob) }) }}" class="text-neutral-700 group flex items-center px-4 py-2 text-sm" tabindex="-1">
                                                    {{ bootstrap_icon('eye', { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
                                                    {{ 'whatwedo_cronjob.action.show'|trans }}
                                                </a>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}